<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DateNet</title>
    <link href="https://fonts.googleapis.com/css?family=Newsreader|Inter|Jersey+15&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="aboutPage.css">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="landingPage.html">
                <img class = "logo-image" src = "Images/Screenshot_2024-11-14_172620-removebg-preview.png" alt = logoDateNet>
            </a>
            <span>DateNet - Find<span class = "red-text" > Relations</span>, Find <span class = "red-text" >Business </span></span>
        </div>
        <nav>
            <a href="landingPage.html" class="nav-link">Home</a>
            <a href="about.html" class="nav-link">About Us</a>
            <a href="signup.html" class="nav-link signup-btn">Sign Up</a>
            <a href="login.html" class="nav-link login-btn">Log In</a>
        </nav>
    </header>

    <div class = "about-container">
        <h1> About DateNet </h1>
        <p> 
            Welcome to DateNet, where connections go beyond just swiping left or right! We understand the difficulty of creating relationships during the busy
            school year. That is where DateNet helps all students by providing a platform that students can connect and create meaningful, lifelong connections in. 
            Whether you are looking for a new Romiet to your Julio (or vice versa), or a business partner, we've got you covered. 
        </p>
    </div>

    <div class = "story-container"> 
        <h1> Our Story</h1>
        <p> 
            Born out of a desire to make dating simpler and more genuine, DateNet was created with the mission of transforming the way people meet online. 
            We understand that finding the right person can be challenging, and that's why we’ve built a platform designed to make this experience enjoyable, safe, and rewarding.
        </p>
    </div>
    <div class = "mission-container"> 
        <h1> Our Mission </h1>
        <p> 
            At DateNet, our goal is to bring people together in a way that feels natural and authentic. We focus on creating a space where you can be yourself, share your interests, and connect with people who appreciate you for who you are. 
            Whether you're looking for a serious relationship or simply want to meet new people, we're here to help you find your match.
        </p>
    </div> 
    <div class = "choose-container">
        <h1>Why Choose DateNet?</h1>
         
            <h3> Reliable and user-friendly platform </h3>
            <h3> Safe and secure environment </h3>
            <h3> Unique features to match your interests</h3>
            <h3> Match with students unique to your faculty/program </h3>
    </div>
        
    <div class = "join-dateNet">
        <p> Join DateNet today and start your journey of finding meaningful connection</p>
     </div>

    <div class="button-container">
        <a href = "signup.html">
        <button>Join Now</button>
        </a>
    </div>


    <footer class="footer">
        <p>&copy; 2024 DateNet. All rights reserved.</p>
    </footer>

    



    <script src="script.js"></script>
</body>
</html>
