<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DateNet</title>
    <link href="https://fonts.googleapis.com/css?family=Newsreader|Inter|Jersey+15&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="aboutPage.css">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="landingPage.html">
                <img class = "logo-image" src = "Images/Screenshot_2024-11-14_172620-removebg-preview.png" alt = logoDateNet>
            </a>
            <span>DateNet - Find<span class = "red-text" > Relations</span>, Find <span class = "red-text" >Business </span></span>
        </div>
        <nav>
            <a href="landingPage.html" class="nav-link">Home</a>
            <a href="about.html" class="nav-link">About Us</a>
            <a href="signup.html" class="nav-link signup-btn">Sign Up</a>
            <a href="login.html" class="nav-link login-btn">Log In</a>
        </nav>
    </header>

    <main>
        <section class="features">
            <div class="container">
                <div class="feature-grid">
                    <div class="who-are-we">
                        <h2>Who Are We?</h2>
                        <p>DateNet was created by a team of 4 aspiring Software Engineering students. 
                            Our team had a vision in mind, of creating a website that would allow university 
                            students similar to us, to find meaningful relationships. Whether you are looking
                            for love, or a new business partner. Our team wanted to create a website that covers all
                            of your needs.
                        </p>
                        <img src="Images/DateNetLogo.jpg" alt="image who are we">
                    </div>
                    <div class="our-purpose">
                        <h2>Our Purpose</h2>
                        <p>DateNet is designed for those who seek more than just a romantic connection. 
                            We bring together individuals looking for both love and business opportunities in a single platform. 
                            Whether you are searching for a partner in life, a co-founder for your next venture, or both, 
                            DateNet helps you find meaningful relationships that can thrive both personally and professionally.
                        </p>
                        <img src="Images/aboutUsPurpose.jpg" alt="image our purpose">
                    </div>
                    <div class="why-choose-us">
                        <h2>Why Choose Us?</h2>
                        <p> 
                            DateNet is the <span id = "bold-text" >only</span> platform where you can search for 
                            both romantic partners and business collaborators in one place.  
                        </p>
                        <p> 
                            Our sophisticated algorithm <span id = "bold-text">goes beyond traditional dating or business apps</span>, 
                            considering both personal and professional compatibility to offer matches that meet your diverse needs.
                        </p>
                        <p>
                            DateNet profiles allow you to showcase both your <span id = "bold-text"> personal </span> interests and <span id = "bold-text"> professional </span> goals, 
                            making it easier to connect with people who align with multiple aspects of your life.
                        </p>
                        <img src="Images/aboutUsWhyChooseUs.jpg" alt="image why choose us">
                    </div>
                    <div class="our-values">
                        <h2>Our Values</h2>
                        <p>We believe in building real, meaningful connections. DateNet encourages users to be their true selves, whether they’re searching for a romantic partner or a business collaborator.
                            We value <span id = "bold-text" >inclusivity, innovation, mutual success, </span>and <span id = "bold-text">growth-oriented relationships  </span>
                        </p>
                        <img src="Images/aboutUsValues.jpg" alt="image our values">
                    </div>
                    <div class="statistics-dont-lie">
                        <h2>Statistics Don't Lie</h2>
                        <p> <span id = "bold-text" >89%</span> of users report finding a match who aligns with both their romantic and professional goals within the first 3 months of using the app.</p>
                        <p> <span id = "bold-text">1 in 3 </span> successful matches on DateNet have resulted in users launching joint ventures or business startups together</p>
                        <p> <span id = "bold-text">95% </span>of users say they feel more confident in their connections on DateNet due to the app's strong focus on compatibility in both personal and professional aspects.</p>
                        <img src="Images/aboutUsStatistics.jpg" alt="image our values">
                    </div>
                    <div class="concluding-message">
                        <h2>Concluding Message</h2>
                        <p>Welcome to DateNet — where meaningful connections begin! Whether you're here to find love, a business partner, or both, we believe your next great relationship is just a swipe away. Explore, connect, and discover new possibilities with like-minded individuals who share your passions and ambitions
                            Get started today, and enjoy the journey of building partnerships that can flourish both personally and professionally. <span id = "bold-text"> Happy matching, and here’s to your success — in love and business! </span></p>
                        <img src="Images/aboutUsConcluding.jpg" alt="image our values">
                    </div>
                </div>
            </div>
        </section>

        <section class="final-cta">
            <div class="container">
                <h2>Endless Possibilities</h2>
                <p>Get out there and find your next meaningful relationship, we're no stranger to bringing singles together online. We're all about the experience and offer possibilities for whatever it is you're looking for.</p>
                <a href="signup.html" class="cta-button">Get Started</a>
            </div>
        </section>
    </main>
   

    <script src="script.js"></script>
</body>
</html>
