<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DateNet</title>
    <link href="https://fonts.googleapis.com/css?family=Newsreader|Inter|Jersey+15&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <header class="header">
        <span class="logo">DateNet</span>
        <nav>
            <a href="landingPage.html" class="nav-link">Home</a>
            <a href="about.html" class="nav-link">About Us</a>
            <a href="signup.html" class="nav-link signup-btn">Sign Up</a>
            <a href="login.html" class="nav-link login-btn">Log In</a>
        </nav>
    </header>

    <section class="hero">
        <img src="/Images/v2_73.png" alt="Networking Image 1" class="hero-img">
        <div class="hero-text">
            <p>DateNet is Designed for University students and young professionals, our app helps you find meaningful relationships, whether you're searching for a Friend , romantic partner or looking to expand your career network.</p>
        </div>
        <img src="/Images/v3_3.png" alt="Networking Image 2" class="hero-img">
    </section>



    <script src="script.js"></script>
</body>
</html> -->
