<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DateNet-Signin</title>
    <link href="https://fonts.googleapis.com/css?family=Newsreader|Inter|Jersey+15&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="Signin.css">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="landingPage.html">
                <img class = "logo-image" src = "Images/Screenshot_2024-11-14_172620-removebg-preview.png" alt = logoDateNet>
            </a>
            <span>DateNet - Find<span class = "red-text" > Relations</span>, Find <span class = "red-text" >Business </span></span>
        </div>
        <nav>
            <a href="landingPage.html" class="nav-link">Home</a>
            <a href="about.html" class="nav-link">About Us</a>
            <a href="signup.html" class="nav-link signup-btn">Sign Up</a>
            <a href="login.html" class="nav-link login-btn">Log In</a>
        </nav>
    </header>

    <div class="content-container">
        <div class="image-section"></div>

        <section class="form-overlay">
            <h2>Sign Up</h2>
            <form id="signupForm" class="form">
                <table>
                    <tr>
                        <td><label for="firstname">First Name</label></td>
                        <td><label for="lastname">Last Name</label></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstname" name="firstname" required placeholder="First Name"></td>
                        <td><input type="text" id="lastname" name="lastname" required placeholder="Last Name"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><label for="email">Email</label></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="email" id="email" name="email" required placeholder="Email"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><label for="username">Username</label></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text" id="username" name="username" required placeholder="Username"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><label for="Cpassword">Confirm Password</label></td>
                    </tr>
                    <tr>
                        <td><input type="password" id="password" name="password" required placeholder="Password"></td>
                        <td><input type="password" id="Cpassword" name="Cpassword" required placeholder="Confirm Password"></td>
                    </tr>
                </table> 
                <button type="submit" class="form-btn">Sign Up</button>
            </form>
            <p class="form-text">Already a user? <a href="login.html" class="form-link">Log in</a></p>
            <p id="response"></p>
        </section>
    </div>

    <section class="">
    </section>

    <script src="script.js"></script>
    <script>
        document.getElementById('signupForm').addEventListener('submit', async function(e) {

            e.preventDefault();
            

            const UserName = document.getElementById('username').value;
            const FirstName = document.getElementById('firstname').value;
            const LastName = document.getElementById('lastname').value;
            const Email = document.getElementById('email').value;
            const Password = document.getElementById('password').value;
            const CPassword = document.getElementById('Cpassword').value;

            if (Password !== CPassword) {
                alert("Passwords do not match!");
                return;
             }
             try{
            const response = await fetch('http://localhost:3000/api/auth/signup',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username: UserName, firstName: FirstName, lastName: LastName, email: Email,password: Password}),
            });

            const data = await response.json();
            if(response.ok){
                const responseElement = document.getElementById('response');
                responseElement.textContent = "Signup Successful";
                responseElement.style.color = "green";
                console.log('Signup successful');
                setTimeout(() => (window.location.href = 'login.html'), 2000);
            }else{
                alert(`Error: ${data.message}`);
            }
        }catch(error){
            alert("An error occurred. Please try again later.");
            console.error(error);
        }
        });
    </script>
</body>
</html>
